<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="MessageQueue.IwsPreviewConsumer.Enabled" value="false" />
    <add key="MessageQueue.IwsPreviewConsumer.Hostname" value="." />
    <add key="MessageQueue.IwsPreviewConsumer.MaxConcurrentOps" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="PublicRecords" connectionString="Data Source=db5v.pr.local; Database=PR; UID=api_dev; PWD=1fastdirectory; Application Name=PreviewConsumerUtil" />
    <add name="Profile" connectionString="Data Source=db5v.pr.local; Database=Profile; UID=api_dev; PWD=1fastdirectory; Application Name=PreviewConsumerUtil" />
    <add name="SolishineGeo" connectionString="Data Source=db5v.pr.local; Database=SolishineGeo; UID=api_dev; PWD=1fastdirectory; Application Name=PreviewConsumerUtil" />
    <!--
    <add name="PublicRecords" connectionString="Data Source=db3v.pr.local; Database=PublicRecords_com;UID=sa;PWD=4PR$Aci!;" />
    <add name="Profile" connectionString="Data Source=db3v.pr.local; Database=Profile; UID=sa;PWD=4PR$Aci!;" />
    <add name="SolishineGeo" connectionString="Data Source=db3v.pr.local; Database=SolishineGeo; UID=sa;PWD=4PR$Aci!;" />
-->
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false" internalLogFile="C:\temp\internal_log.txt" internalLogLevel="Off" internalLogToConsole="false" internalLogToConsoleError="false" autoReload="true">
    <variable name="logDirectory" value="c:/temp/logs/${shortdate}" />
    <targets>
      <target xsi:type="File" name="file" fileName="${logDirectory}/file1.txt" />
      <target xsi:type="Trace" name="console" layout="" />
      <target xsi:type="Database" name="db">
        <!-- SQL command to be executed for each entry -->
        <commandText>INSERT INTO [NLog](LogDate, Message, Level, Logger, ClientIP, ServerName) VALUES(getdate(), @msg, @level, @logger, @ClientIP, @Server)</commandText>
        <!-- parameters for the command -->
        <parameter name="@msg" layout="${message} ${exception:format=tostring}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@ClientIP" layout="${event-context::item=ClientIP}" />
        <parameter name="@Server" layout="${event-context::item=Server}" />
        <!-- connection string -->
        <dbProvider>System.Data.SqlClient</dbProvider>
        <!--<connectionString>Data Source=db3v.pr.local; Database=PublicRecords_com; Application Name=PublicRecords;UID=sa;PWD=4PR$Aci!;</connectionString>-->
        <connectionString>Data Source=DB5v.pr.local; Database=ACI_X; Application Name=PreviewConsumerUtil; UID=sa;PWD=4PR$Aci.;</connectionString>
      </target>
    </targets>
    <rules>
      <logger name="*" writeTo="db" />
      <!--<logger name="*" writeTo="file"/>-->
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>