<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccountServicesBinding" />
                <binding name="TokenServicesBinding" />
                <binding name="TransactionServicesBinding" />
                <binding name="CatalogServicesBinding" />
                <binding name="SubscriptionServicesBinding" />
                <binding name="FulfillmentServicesBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://iwscommerce.intelius.com/commerce/2.1/customer.php" binding="basicHttpBinding" bindingConfiguration="AccountServicesBinding" contract="Commerce.v2_1.Customer.AccountServicesPortType" name="AccountServicesPort" />
            <endpoint address="http://iwscommerce.intelius.com/commerce/2.1/token.php" binding="basicHttpBinding" bindingConfiguration="TokenServicesBinding" contract="Commerce.v2_1.Token.TokenServicesPortType" name="TokenServicesPort" />
            <endpoint address="http://iwscommerce.intelius.com/commerce/2.1/transaction.php" binding="basicHttpBinding" bindingConfiguration="TransactionServicesBinding" contract="Commerce.v2_1.Transaction.TransactionServicesPortType" name="TransactionServicesPort" />
            <endpoint address="http://iwscommerce.intelius.com/commerce/2.1/catalog.php" binding="basicHttpBinding" bindingConfiguration="CatalogServicesBinding" contract="Commerce.v2_1.Catalog.CatalogServicesPortType" name="CatalogServicesPort" />
            <endpoint address="http://iwscommerce.intelius.com/commerce/2.1/subscription.php" binding="basicHttpBinding" bindingConfiguration="SubscriptionServicesBinding" contract="Commerce.v2_1.Subscription.SubscriptionServicesPortType" name="SubscriptionServicesPort" />
            <endpoint address="http://iwscommerce.intelius.com/commerce/2.1/fulfill.php" binding="basicHttpBinding" bindingConfiguration="FulfillmentServicesBinding" contract="Commerce.v2_1.Fulfillment.FulfillmentServicesPortType" name="FulfillmentServicesPort" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>