<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="TransactionServicesBinding" />
                <binding name="AccountServicesBinding" />
                <binding name="TokenServicesBinding" />
              <binding name="CatalogServicesBinding" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://iwscommerce.intelius.com/commerce/2.1/transaction.php"
                binding="basicHttpBinding" bindingConfiguration="TransactionServicesBinding"
                contract="Intelius.Iws.Commerce.v2_1.TransactionServicesPortType"
                name="TransactionServicesPort" />
            <endpoint address="https://iwscommerce.intelius.com/commerce/2.1/customer.php"
                binding="basicHttpBinding" bindingConfiguration="AccountServicesBinding"
                contract="Commerce.v2_1.Customer.AccountServicesPortType"
                name="AccountServicesPort" />
            <endpoint address="https://iwscommerce.intelius.com/commerce/2.1/token.php"
                binding="basicHttpBinding" bindingConfiguration="TokenServicesBinding"
                contract="Commerce.v2_1.Token.TokenServicesPortType" name="TokenServicesPort" />
          <endpoint address="https://iwscommerce.intelius.com/commerce/2.1/catalog.php"
              binding="basicHttpBinding" bindingConfiguration="CatalogServicesBinding"
              contract="Commerce.v2_1.Catalog.CatalogServicesPortType" name="CatalogServicesPort" />
        </client>
    </system.serviceModel>
</configuration>