<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add
      key="Iws.Apis.Commerce.ClientID"
      value="100183"
      xdt:Locator="Match(key)"
      xdt:Transform="Replace"/>
    <add
      key="Iws.Apis.Commerce.AuthID"
      value="7693969"
      xdt:Locator="Match(key)"
      xdt:Transform="Replace"/>
    <add
      key="Iws.Apis.Commerce.AuthKey"
      value="Ra#d@#87"
      xdt:Locator="Match(key)"
      xdt:Transform="Replace"/>
    <add
      key="Iws.Apis.Storefront.ClientID"
      value="800ci-1971738b-a1bb-4eaa-a137-37cb2b25d5ef"
      xdt:Locator="Match(key)"
      xdt:Transform="Replace"/>
    <add
      key="Iws.Apis.Storefront.SharedSecret"
      value="800ss-d3d27866-a738-481e-85e5-819868d9223a"
      xdt:Locator="Match(key)"
      xdt:Transform="Replace"/>
    <add
      key="Iws.Apis.Catalog.BaseUrl"
      value="https://iwstransact.intelius.com/commerce/2.1/catalog.php"
      xdt:Locator="Match(key)"
      xdt:Transform="Replace"/>
    <add
      key="Iws.Apis.Fulfillment.BaseUrl"
      value="https://iwstransactfs.intelius.com/commerce/2.1/fulfill.php"
      xdt:Locator="Match(key)"
      xdt:Transform="Replace"/>
    <add
      key="Iws.Apis.Customer.BaseUrl"
      value="https://iwstransact.intelius.com/commerce/2.1/customer.php"
      xdt:Locator="Match(key)"
      xdt:Transform="Replace"/>
    <add
      key="Iws.Apis.Transaction.BaseUrl"
      value="https://iwstransact.intelius.com/commerce/2.1/transaction.php"
      xdt:Locator="Match(key)"
      xdt:Transform="Replace"/>
    <add
      key="Iws.Apis.AuthProxy.BaseUrl"
      value="https://proxy.criminalrecords.com/authproxy/"
      xdt:Locator="Match(key)"
      xdt:Transform="Replace"/>
    <add
      key="Iws.Apis.AuthProxy.Version"
      value="4.0"
      xdt:Locator="Match(key)"
      xdt:Transform="Replace"/>
    <add
      key="Iws.Apis.PaymentProxy.BaseUrl"
      value="https://proxy.criminalrecords.com/paymentproxy/"
      xdt:Locator="Match(key)"
      xdt:Transform="Replace"/>
    <add
      key="Iws.Apis.PaymentProxy.Version"
      value="1.0"
      xdt:Locator="Match(key)"
      xdt:Transform="Replace"/>
  </appSettings>
  <connectionStrings>
    <add
      name="WebServiceDB"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=db5v.pr.local; Database=ACI_X_STAGE; UID=api_dev;PWD=1fastdirectory; Application Name=DEBUG API"
      xdt:Transform="Replace"
      xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="https://iwstransact.intelius.com/commerce/2.1/catalog.php" binding="basicHttpBinding" bindingConfiguration="CatalogServicesBinding" contract="Commerce.v2_1.Catalog.CatalogServicesPortType" name="CatalogServicesPort"/>
      <endpoint address="https://iwstransact.intelius.com/commerce/2.1/transaction.php" binding="basicHttpBinding" bindingConfiguration="TransactionServicesBinding" contract="Commerce.v2_1.Transaction.TransactionServicesPortType" name="TransactionServicesPort"/>
      <endpoint address="https://iwstransact.intelius.com/commerce/2.1/customer.php" binding="basicHttpBinding" bindingConfiguration="AccountServicesBinding" contract="Commerce.v2_1.Customer.AccountServicesPortType" name="AccountServicesPort"/>
      <endpoint address="https://iwstransact.intelius.com/commerce/2.1/token.php" binding="basicHttpBinding" bindingConfiguration="TokenServicesBinding" contract="Commerce.v2_1.Token.TokenServicesPortType" name="TokenServicesPort"/>
      <endpoint address="https://iwstransact.intelius.com/commerce/2.1/fulfill.php" binding="basicHttpBinding" bindingConfiguration="FulfillmentServicesBinding" contract="Commerce.v2_1.Fulfillment.FulfillmentServicesPortType" name="FulfillmentServicesPort"/>
    </client>
  </system.serviceModel>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>