<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="WebServiceDB" connectionString="Data Source=localhost; Database=ACI_X; Integrated Security=SSPI;"/>
    <add name="Profile" connectionString="Data Source=localhost; Database=Profile; Integrated Security=SSPI; Application Name=DEBUG API"/>
    <add name="Geo" connectionString="Data Source=localhost; Database=SolishineGeo; Integrated Security=SSPI; Application Name=DEBUG API"/>-->
    
    <add name="Profile" connectionString="Data Source=db5v.pr.local; Database=Profile; UID=api_dev; PWD=1fastdirectory; Application Name=DEBUG API" />
    <add name="WebServiceDB" providerName="System.Data.SqlClient" connectionString="Data Source=db5v.pr.local; Database=ACI_X_STAGE; UID=api_dev;PWD=1fastdirectory; Application Name=DEBUG API" />
    <add name="Geo" connectionString="Data Source=db5v.pr.local; Database=SolishineGeo; UID=api_dev; PWD=1fastdirectory; Application Name=DEBUG API" />
  </connectionStrings>
  <appSettings>
    <add key="Debug.UseServerPublicIpAddressForUserIp" value="true" />
    <add key="Redis.Cache.Hostname" value="localhost" />
    <add key="Redis.Cache.Port" value="6379" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Iws.Query.Timeout.Secs" value="10" />

    <!-- CriminalRecords.com INTEGRATION -->
    
    <!--<add key="Iws.Apis.Commerce.ClientID" value="100183"/>
    <add key="Iws.Apis.Commerce.AuthID" value="7693969"/>
    <add key="Iws.Apis.Commerce.AuthKey" value="Ra#d@#87"/>
    <add key="Iws.Apis.Storefront.ClientID" value="800ci-9f9b1a97-4dc9-4f38-a4d4-644a9bfc1eb3"/>
    <add key="Iws.Apis.Storefront.SharedSecret" value="800ss-860f1f6b-38b6-41b2-9c78-ba4973d545af"/>
    <add key="Iws.Apis.Storefront.RefererID" value="14927"/>
    
    <add key="Iws.Apis.Catalog.BaseUrl" value="https://iiwscommerce.intelius.com/commerce/2.1/catalog.php"/>
    <add key="Iws.Apis.Fulfillment.BaseUrl" value="https://iiwscommerce.intelius.com/commerce/2.1/fulfill.php"/>
    <add key="Iws.Apis.AuthProxy.BaseUrl" value="https://iauth.intelius.com/authproxy-1.1.3/"/>
    <add key="Iws.Apis.AuthProxy.Version" value="4.0"/>
    <add key="Iws.Apis.PaymentProxy.BaseUrl" value="https://iauth.intelius.com/paymentproxy/"/>
    <add key="Iws.Apis.PaymentProxy.Version" value="1.0"/>-->

    <!-- CriminalRecords.com PRODUCTION -->
    
    <add key="Iws.Apis.Commerce.ClientID" value="100183" />
    <add key="Iws.Apis.Commerce.AuthID" value="7693969" />
    <add key="Iws.Apis.Commerce.AuthKey" value="Ra#d@#87" />
    <add key="Iws.Apis.Storefront.ClientID" value="800ci-1971738b-a1bb-4eaa-a137-37cb2b25d5ef" />
    <add key="Iws.Apis.Storefront.SharedSecret" value="800ss-d3d27866-a738-481e-85e5-819868d9223a" />
    <add key="Iws.Apis.Catalog.BaseUrl" value="https://iwstransact.intelius.com/commerce/2.1/catalog.php" />
    <add key="Iws.Apis.Fulfillment.BaseUrl" value="https://iwstransact.intelius.com/commerce/2.1/fulfill.php" />    
    <add key="Iws.Apis.Customer.BaseUrl" value="https://iwstransact.intelius.com/commerce/2.1/customer.php" />
    <add key="Iws.Apis.Transaction.BaseUrl" value="https://iwstransact.intelius.com/commerce/2.1/transaction.php" />
    <add key="Iws.Apis.Subscription.BaseUrl" value="https://iwstransact.intelius.com/commerce/2.1/subscription.php" />
    <add key="Iws.Apis.AuthProxy.BaseUrl" value="https://proxy.criminalrecords.com/authproxy/" />
    <add key="Iws.Apis.AuthProxy.Version" value="4.0" />
    <add key="Iws.Apis.PaymentProxy.BaseUrl" value="https://proxy.criminalrecords.com/paymentproxy/" />
    <add key="Iws.Apis.PaymentProxy.Version" value="1.0" />

  </appSettings>
  <!-- THE FOLLOWING ENABLES FIDDLER TO CAPTURE API REQUESTS.  SHOULD NOT BE USED IN PRODUCTION -->
  <system.net>
    <defaultProxy>
      <proxy
        usesystemdefault="False"
        bypassonlocal="True"
        proxyaddress="http://127.0.0.1:8888"/>
    </defaultProxy>
  </system.net>
  <nlog throwExceptions="false" internalLogFile="C:\temp\CR_internal_log.txt" internalLogLevel="Off" internalLogToConsole="false" internalLogToConsoleError="false" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--<variable name="logDirectory" value="${basedir}/logs/${shortdate}" />-->
    <variable name="logDirectory" value="C:\temp\CR_${shortdate}" />
    <targets>
      <target xsi:type="File" name="file" fileName="${logDirectory}/file1.txt" />
      <target xsi:type="Trace" name="console" layout="" />
      <target xsi:type="Database" name="db">
        <!-- SQL command to be executed for each entry -->
        <commandText>
          INSERT INTO [NLog](LogDate, Server, Message, Level, Logger, ApiLogID, UserID)
          VALUES(
          GETDATE(),
          @Server,
          @msg,
          @level,
          @logger,
          CASE ISNULL(@ApiLogID,'') WHEN '' THEN NULL ELSE @ApiLogID END,
          CASE ISNULL(@UserID,'') WHEN '' THEN NULL ELSE @UserID END
          )
        </commandText>
        <!-- parameters for the command -->
        <parameter name="@ApiLogID" layout="${event-context::item=ApiLogid}" />
        <parameter name="@UserID" layout="${event-context::item=Userid}" />
        <parameter name="@Server" layout="${event-context::item=Server}" />
        <parameter name="@msg" layout="${message} ${exception:format=tostring}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@logger" layout="${logger}" />
        <!-- connection string -->
        <dbProvider>System.Data.SqlClient</dbProvider>
        <dbProvider>System.Data.SqlClient</dbProvider>
        <ConnectionStringName>WebServiceDB</ConnectionStringName>
      </target>
    </targets>
    <rules>
      <logger name="*" writeTo="db" />
      <!--<logger name="*" writeTo="file"/>-->
    </rules>
  </nlog>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" relaxedUrlToFileSystemMapping="true" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="routes.axd" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </httpHandlers>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CatalogServicesBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="TransactionServicesBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="AccountServicesBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="TokenServicesBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="FulfillmentServicesBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>

      <!-- INTEGRATION ENDPOINTS -->

      <!--<endpoint address="https://iiwscommerce.intelius.com/commerce/2.1/catalog.php" binding="basicHttpBinding" bindingConfiguration="CatalogServicesBinding" contract="Commerce.v2_1.Catalog.CatalogServicesPortType" name="CatalogServicesPort"/>
      <endpoint address="https://iiwscommerce.intelius.com/commerce/2.1/transaction.php" binding="basicHttpBinding" bindingConfiguration="TransactionServicesBinding" contract="Commerce.v2_1.Transaction.TransactionServicesPortType" name="TransactionServicesPort"/>
      <endpoint address="https://iiwscommerce.intelius.com/commerce/2.1/customer.php" binding="basicHttpBinding" bindingConfiguration="AccountServicesBinding" contract="Commerce.v2_1.Customer.AccountServicesPortType" name="AccountServicesPort"/>
      <endpoint address="https://iiwscommerce.intelius.com/commerce/2.1/token.php" binding="basicHttpBinding" bindingConfiguration="TokenServicesBinding" contract="Commerce.v2_1.Token.TokenServicesPortType" name="TokenServicesPort"/>
      <endpoint address="https://iiwscommerce.intelius.com/commerce/2.1/fulfill.php" binding="basicHttpBinding" bindingConfiguration="FulfillmentServicesBinding" contract="Commerce.v2_1.Fulfillment.FulfillmentServicesPortType" name="FulfillmentServicesPort"/>-->
      
      
      <!-- PRODUCTION ENDPOINTS -->
      
      <endpoint address="https://iwstransact.intelius.com/commerce/2.1/catalog.php" binding="basicHttpBinding" bindingConfiguration="CatalogServicesBinding" contract="Commerce.v2_1.Catalog.CatalogServicesPortType" name="CatalogServicesPort" />
      <endpoint address="https://iwstransact.intelius.com/commerce/2.1/transaction.php" binding="basicHttpBinding" bindingConfiguration="TransactionServicesBinding" contract="Commerce.v2_1.Transaction.TransactionServicesPortType" name="TransactionServicesPort" />
      <endpoint address="https://iwstransact.intelius.com/commerce/2.1/subscription.php" binding="basicHttpBinding" bindingConfiguration="TransactionServicesBinding" contract="Commerce.v2_1.Subscription.SubscriptionServicesPortType" name="SubscriptionServicesPort" />
      <endpoint address="https://iwstransact.intelius.com/commerce/2.1/customer.php" binding="basicHttpBinding" bindingConfiguration="AccountServicesBinding" contract="Commerce.v2_1.Customer.AccountServicesPortType" name="AccountServicesPort" />
      <endpoint address="https://iwstransact.intelius.com/commerce/2.1/token.php" binding="basicHttpBinding" bindingConfiguration="TokenServicesBinding" contract="Commerce.v2_1.Token.TokenServicesPortType" name="TokenServicesPort" />
      <endpoint address="https://iwstransact.intelius.com/commerce/2.1/fulfill.php" binding="basicHttpBinding" bindingConfiguration="FulfillmentServicesBinding" contract="Commerce.v2_1.Fulfillment.FulfillmentServicesPortType" name="FulfillmentServicesPort" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>