@using Aci.X.WebAPI.Areas.HelpPage
@model InvalidSample

@if (HttpContext.Current.IsDebuggingEnabled)
{
    <div class="warning-message-container">
        <p>@Model.strErrorMessage</p>
    </div>
}
else
{
    <p>Sample not available.</p>
}