<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Profile" connectionString="Data Source=DC; Database=Profile; Integrated Security=SSPI;" />
    <add name="PublicRecords" connectionString="Data Source=DC; Database=PublicRecords_com; Integrated Security=SSPI;" />
    <add name="SolishineGeo" connectionString="Data Source=DC; Database=SolishineGeo; Integrated Security=SSPI;" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TransactionServicesBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="AccountServicesBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="TokenServicesBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="CatalogServicesBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://iwscommerce.intelius.com/commerce/2.1/transaction.php" binding="basicHttpBinding" bindingConfiguration="TransactionServicesBinding" contract="Commerce.v2_1.Transaction.TransactionServicesPortType" name="TransactionServicesPort" />
      <endpoint address="https://iwscommerce.intelius.com/commerce/2.1/customer.php" binding="basicHttpBinding" bindingConfiguration="AccountServicesBinding" contract="Commerce.v2_1.Customer.AccountServicesPortType" name="AccountServicesPort" />
      <endpoint address="https://iwscommerce.intelius.com/commerce/2.1/token.php" binding="basicHttpBinding" bindingConfiguration="TokenServicesBinding" contract="Commerce.v2_1.Token.TokenServicesPortType" name="TokenServicesPort" />
      <endpoint address="https://iwscommerce.intelius.com/commerce/2.1/catalog.php" binding="basicHttpBinding" bindingConfiguration="TokenServicesBinding" contract="Commerce.v2_1.Catalog.CatalogServicesPortType" name="CatalogServicesPort" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>