<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="PublicRecords" connectionString="Data Source=db5v.pr.local; Database=PR; UID=api_dev; PWD=1fastdirectory; Application Name=PreviewConsumerUtil" />
    <add name="Profile" connectionString="Data Source=db5v.pr.local; Database=Profile; UID=api_dev; PWD=1fastdirectory; Application Name=PreviewConsumerUtil" />
    <add name="SolishineGeo" connectionString="Data Source=db5v.pr.local; Database=SolishineGeo; UID=api_dev; PWD=1fastdirectory; Application Name=PreviewConsumerUtil" />
    <!--
    <add name="PublicRecords" connectionString="Data Source=db3v.pr.local; Database=PublicRecords_com;UID=sa;PWD=4PR$Aci!;" />
    <add name="Profile" connectionString="Data Source=db3v.pr.local; Database=Profile; UID=sa;PWD=4PR$Aci!;" />
    <add name="SolishineGeo" connectionString="Data Source=db3v.pr.local; Database=SolishineGeo; UID=sa;PWD=4PR$Aci!;" />
    -->
  </connectionStrings>
</configuration>